<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
  
  <!-- 개발(QA) Config -->
 
  <appSettings>
    <add key="BizActorServerName" value="172.18.1.37" />
    <add key="BizActorPort" value="4510" />
    <add key="BizActorSysID" value="0" />
    <add key="SMTPProxy" value="http://172.18.1.37:10000/WCF/SMTPService.svc" />
    <add key="RecipeServiceUrl" value="http://172.18.1.37:4533/RecipeServiceProvider"/>
    <add key="LoggingMode" value="In"/>
    <add key="Version" value="4.5.77" />
    <add key="GetWeightInterval" value="1000"/>
    <add key="GetWeightCheckCnt" value="5" />
  </appSettings>
  
  
  <!-- 개발(VPN) Config -->
  <!--
  <appSettings>
    <add key="BizActorServerName" value="10.10.10.7" />
    <add key="BizActorPort" value="4510" />
    <add key="BizActorSysID" value="0" />
    <add key="SMTPProxy" value="http://10.10.10.7:10000/WCF/SMTPService.svc" />
    <add key="RecipeServiceUrl" value="http://10.10.10.7:4533/RecipeServiceProvider"/>
    <add key="LoggingMode" value="In"/>
    <add key="Version" value="4.5.77" />
    <add key="GetWeightInterval" value="1000"/>
    <add key="GetWeightCheckCnt" value="5" />
  </appSettings>
  -->
  
  <!-- 운영 Config -->
  <!--<appSettings>
    <add key="BizActorServerName" value="172.18.1.36" />
    <add key="BizActorPort" value="4510" />
    <add key="BizActorSysID" value="0" />
    <add key="SMTPProxy" value="http://172.18.1.34:10000/WCF/SMTPService.svc" />
    <add key="RecipeServiceUrl" value="http://172.18.1.31:4533/RecipeServiceProvider"/>
    <add key="LoggingMode" value="In"/>
    <add key="Version" value="4.5.77" />
    <add key="GetWeightInterval" value="1000"/>
    <add key="GetWeightCheckCnt" value="5" />
  </appSettings>-->
  <!--<system.web>
        <compilation debug="true">
            <assemblies>
                <add assembly="ServerAgentMulti" />
                <add assembly="*" />
            </assemblies>
        </compilation>
    </system.web>-->
</configuration>